<br>
<div class="row">
  <div class="card">
    <div class="card-header">
      <h1>Hola {{user.name}}-{{user.departamento}}</h1>
    </div>
    <div class="card-body">
      <p>Bienvenido al sistema de notas</p>
    </div>
  </div>
  <br>
</div>
<hr>
<div class="row">
    {{#each notes}}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title d-flex justify-content-between align-items-center">
            {{ title }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
          </h4>
          <p>{{description}}</p>
          <form class="" action="/notes/delete/{{_id}}?_method=DELETE" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit"class="btn btn-danger btn-block btn-sm">BORRAR</button>
          </form>

        </div>

      </div>
    </div>
    {{else}}
    <br>
    <div class="col-md-4">
      <div class="card mx-auto">
        <div class="card-body">
          <p class="lead">Ingrese una nueva nota</p>
          <a href="/notes/add" class="btn btn-success btn-block">Crear nota</a>
        </div>

      </div>
    </div>  
  {{/each}}
</div>
